<nav class="nav_bar">
  <div><img src="/assets/viking-helmet.png" id="logo-img"></div>
    <ul class="nav-list">
        <li class="nav-item"><a href="/landing"><button class="nav-barBtn">Home</button></a></li>
        <li class="nav-item"><a href="/products"><button class="nav-barBtn">Product</button></a></li>
        <%if(!currentUser){%>
        <li class="nav-item"><a href="/signup"><button class="nav-barBtn">Sign Up</button></a></li>
        <li class="nav-item"><a href="/login"><button class="nav-barBtn">Log In</button></a></li>
        <%} else {%>
        <li class="nav-item"><a href="/bookmarks"><button class="nav-barBtn">Bookmarks</button></a></li>
        <li class="nav-item"><a href="/logout"><button class="nav-barBtn">Log Out</button></a></li>
        <%}%>
    </ul>
</nav>